@import 'tailwindcss';

@theme {
  --font-primary: 'Inter', serif;
  --container-xs: 20.5rem;

  --breakpoint-sm: 480px;
  --breakpoint-md: 680px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1110px;
}

@utility custom-gradient {
  background: linear-gradient(290deg, #d6e6fe 0%, rgba(214, 252, 254, 0) 100%);
}

@utility container-extraSmol {
  max-width: 328px;
}

@utility container-smol {
  max-width: 480px;
}

@utility container-medium {
  max-width: 686px;
}

@utility custom-shadow {
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
}

@utility container-large {
  max-width: 1110px;
}

body {
  font-family: var(--font-primary);
}
